    .body {
        font-family: Arial;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    #sequence {
        display: flex;
        gap: 30px;
        margin-bottom: 20px;
    }

    .arrow {
        width: 70px;
        height: 70px;
        opacity: 0.5;
    }

    .active {
        opacity: 1;
        border: 2px solid rgb(128, 0, 255);
        border-radius: 8px;
    }

    #info {
        margin-top: 20px;
        font-size: 20px;
        color: white;
        background: #333;
        padding: 10px 20px;
        border-radius: 8px;
    }