        body {
            font-family: Arial;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 180px;
        }

        #score {
            font-size: 24px;
            margin-bottom: 20px;
            color: green;
        }

        .ligne-questions {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 40px;
            width: 80%;
        }

        .question-block {
            margin: 0 auto;
            margin-top: 100px;
            border: 2px solid #444;
            padding: 15px;
            border-radius: 10px;
            text-align: center;
        }

        .question {
            
            font-size: 20px;
            margin-bottom: 15px;
        }

        .reponses {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
        }

        button {
            padding: 10px;
            cursor: pointer;
            font-size: 16px;
        }
    