/* Configuration de base */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Le fond Bleu-Violet (Dégradé) */
body {
    background: linear-gradient(135deg, #1e0239, #031651);
    background-attachment: fixed;
    color: rgb(56, 17, 83);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Le Titre Principal */
h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    text-align: center;
    letter-spacing: 2px;
    transition: transform 0.3s ease; /* Pour l'animation JS */
    cursor: default;
}

/* La zone de texte (Glassmorphism) */
.container-texte {
    background-color: rgba(152, 134, 134, 0.15);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 15px;
    border: 1px solid rgba(235, 228, 228, 0.2);
    max-width: 600px;
    width: 80%;
    line-height: 1.6;
    font-size: 1.1rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.container-texte:hover {
    background-color: rgba(239, 237, 237, 0.25);
    transition: 0.3s;
}